<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
    <link rel="stylesheet" href="../static/style.css">
    <title>Pagina de Login</title>
</head>
<body>
  <h1>Página de Login</h1>

  <div class="box">
    <form action="#">
        <h2>Sign In</h2>
        <div class="inputBox">
            <input type="text" required name="nom">
            <label for="nom">Username</label>
            <i></i>
        </div>
        <div class="inputBox">
           <input type="password" required name="sen">
            <label for="sen">Password</label>
            <i></i>
        </div>
        
        <div class="links">
            <a href="#">Esqueceu a senha?</a>
            <a href="#">Sign-up</a>
        </div>
        <div class="submit">
            <input type="submit" value="Login">
            <i></i>
        </div>
    </form>
</div>
</body>
</html>